.history-card{
    width:100%;
    margin-bottom:40px;
    padding:20px;
    background:white;
    border-radius:15px;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

.history-card img{
    display:block;
    max-width:100%;
    height:auto;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.nav-links{
    display:flex;
    gap:10px;
}

.nav-btn{
    text-decoration:none;
    background:#cdb4db;
    color:white;
    padding:10px 15px;
    border-radius:8px;
    font-weight:bold;
    transition:0.3s;
}

.nav-btn:hover{
    background:#b79ac8;
}